
.home_sec {
    position: relative;
    background-color: orange;
    overflow: hidden;
    height: 100vh;
  }
  
  .home_sec .home_icons {
    position: absolute;
    bottom: 0;
  
    left: 0;
    width: 100%;
    height: 100px;
    background: url("../../src/assets/wave.png");
    animation: animate 5s linear infinite;
  }
  
  @keyframes animate {
    0% {
      background-position-x: 0;
    }
  
    100% {
      background-position-x: 1000px;
    }
  
  }
  
  .home_heading1 {
    font-size: 3.5rem;
    color: white;
    display: flex;
    position: absolute;
    top: 140px;
    left: 150px;
   
  }
  .home_heading3{
   
    color:green;
    font-size: 50px;
  }
  
  .home_section {
    width: 100%;
    float: left;
    margin-top: 150px;
  }
  
  .home_sub4 {
    width: 70%;
    float: left;
    margin-top: 0.625rem; 
padding-right: 11.5rem; 
padding-left: 8.75rem;
padding-top: 6.25rem; 
font-size: 1.25rem; 
  }
  
  .home_sub3 {
    width: 30%;
    float: left;
  }
  
  .home_heading2 {
    margin: 15px;
    float: left;
  
    color:white;
  
  }
  
  
  .home_image2 {
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 25% 0% 0% 25%;
    margin-top: 4rem;
  
  }
  
  
  .home_btn {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 200px;
    height: 40px;
    border: 2px solid orange;
    border-radius: 20px;
    margin-top: 220px;
    font-size: 15px;
    text-transform: uppercase;
    
    color:green;
    text-decoration: none;
  }
  
  .home_btn:hover {
    background-color:rgb(248, 189, 79) ;
    color:white;
    
  }
  
  .home_second {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 2rem;
    flex-direction: row;
  
  
  
  }
  
  .home_second p {
    font-size: 20px;
    font-weight: bold;
    
    margin-top: 10px;
    margin-bottom: 30px;
    text-transform: uppercase;
    color:brown;
  }
  
  .home_second i {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .home_secondicons {
    width: 340px;
    /* padding-left: 300px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 3rem;
  
  
  }
  .home_features{
    display: flex;
    color: orange;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
   font-size: 2.3rem;
  }
  
  @media only screen and (max-width: 1024px) {
    .home_heading1 {
      position: absolute;
      left: 40px;
      /* font-size: 37px; */
    }
    
    
    .home_sub4 {
      width: 100%;
      padding-right: 54px;
      padding-left: 50px;
    }
  
    .home_sub3 {
      width: 60%;
      margin-left: 400px;
    }
  
    .home_heading1 {
  
      left: 100px;
    }
  }
  
  
  @media only screen and (max-width: 712px) {
    
    .home_heading1 {
      position: absolute;
      left: 20px;
      
    }
    .home_sub4 {
      width: 100%;
      padding-right: 24px;
      padding-left: 20px;
    }
  
    .home_sub3 {
      width: 70%;
  
      margin-left: 200px;
    }
  
    .home_heading1 {
      position: absolute;
      left: 70px;
      /* font-size: 37px; */
    }
    .home_sec{
      height: 130vh;
    }
  }
  
  @media only screen and (max-width: 580px) {
    .home_heading1 {
      position: absolute;
      left: 30px;
      font-size: 37px;
    }
    .home_heading3{
     
      font-size: 37px;
    }
  
    .home_sub4 {
      width: 100%;
  
      padding-right: 5px;
      padding-left: 5px;
    }
    .home_heading2{
      font-size:15px;
    }
  
    .home_sub3 {
      width: 80%;
  
      margin-left: 110px;
    }
  }
  
  @media only screen and (max-width: 320px) {
    .home_heading1 {
      position: absolute;
      left: 20px;
      font-size:35px;
    }
    .home_heading3{
     
      font-size: 35px;
    }
  
    .home_heading2{
      font-size:15px;
    }
  }